@import 'tailwindcss';


:root {
  --color-bg-primary: #0f172a; /* slate-900 */
  --color-bg-secondary: #1e293b; /* slate-800 */
  --color-border-default: #334155; /* slate-700 */

  --color-ui-default: #475569; /* slate-600 */
  --color-ui-hover: #64748b; /* slate-500 */

  --color-text-primary: #f8fafc; /* slate-50 */
  --color-text-secondary: #cbd5e1; /* slate-300 */
  --color-text-muted: #94a3b8; /* slate-400 */
  --color-text-muted-hover: #e2e8f0; /* slate-200 */

  --color-accent-indigo: #818cf8; /* indigo-400 */
  --color-accent-indigo-focus: #6366f1; /* indigo-500 */
  --color-accent-pink: #f472b6; /* pink-400 */
  --color-accent-green: #4ade80; /* green-400 */
}

body {
  @apply bg-background-primary text-text-primary;
}

/* Custom scrollbar for better aesthetics */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: var(--color-bg-secondary);
}

::-webkit-scrollbar-thumb {
  background: var(--color-ui-default);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-ui-hover);
}
