@import 'tailwindcss';

@theme {
  --color-background: #0f172a; /* slate-900 */

  --color-primaryText: #f8fafc; /* slate-50 */
  --color-secondaryText: #cbd5e1; /* slate-300 */
  --color-muted: #94a3b8; /* slate-400 */
  --color-muted-hover: #e2e8f0; /* slate-200 */

  --color-primary: #60a5fa; /* indigo-400 */
  --color-secondary: #1e293b; /* slate-800 */
  --color-accent: #fde047; /* yellow-400 */

  --color-hex-accent: #f6c252;
  --color-rgb-accent: #f472b6;
  --color-oklch-accent: #4ade80;
}

@layer base {
  body {
    @apply bg-background text-primaryText;
  }

  button {
    @apply cursor-pointer transition-all;
  }
  /* Custom scrollbar for better aesthetics */
  ::-webkit-scrollbar {
    @apply h-2 w-2;
  }

  ::-webkit-scrollbar-track {
    @apply bg-background;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-primary/20 rounded-full;
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-background;
  }
}

@layer components {
  .input {
    @apply text-primaryText w-full rounded-lg border px-4 py-3 font-mono transition-all placeholder:text-slate-500 focus:border-none focus:ring-2 focus:outline-none;
  }
  .input-label {
    @apply text-xs font-bold tracking-wider uppercase;
  }
}
